.table{
  .tableCell{
    align-self:  center;
  }
  .status{
    padding: 5px;
    border-bottom: 5px;
    border-radius: 10px;
    &.Completed{
      color: green;
      background-color: rgba(0,128,0,0.151);
    }
    &.Cancelled{
      color: red;
      background-color: rgb(229, 185, 185);
    }
    &.progress{
      color:blueviolet;
      background-color: #a5c2f5;
    }
  }
}