.datatable{
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
  padding: 20px;
  .title{
    margin-bottom: 15px;
    font-size: 18px;
  }
  .customer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
    margin-bottom: 10px;
    .info{
      display: flex;
      align-items: center;
      .image{
        margin-right: 5px;
        img{
          width: 30px;
          height: 30px;
          border-radius: 50%;

        }
      }
      .text-info{
        p{
          color:gray;
          font-size: 12px;
        }
      }
    }
    .amount{
      font-weight: bold;
      font-family: sans-serif;
    }
  }
}